<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Beer Parameters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../">Beer Recommendation Engine
                        <img class="nav" src="../static/images/barrel.svg">
                    </a>
                    <button class="navbar-toggle navbar-toggler navbar-toggler-right" type="button"
                        data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <img src="../static/images/navbutton.png" alt="navbutton" height="40">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item active">
                            <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../engine.html">How the Engine Works</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../brewing.html">Parameters Explained</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>

        <div class="hero text-center">
            <h1>What to drink next?</h1>
            <p>The Best is Out There</p>
        </div>
        <br>
        <div class="container">
            <div class="row margin-top-50">
                <div class="col-md-12">
                    <h1>Our 4 Preference Parameters Explained</h1>
                    <p>For the casual beer drinker it can be daunting to see an endless list of beer choices. What makes
                        each beer different from another? We have broken the types of beers into four parameters that
                        brewers take into account when crafting their beer. Let us help you in making sense of the lingo
                        that you may encounter in your beer drinking adventures.</p>
                    <br>
                </div>
                <div class="col-md-12">
                    <h2>1. ABV (Alcohol By Volume)</h2>
                    <p>ABV is an indicator of the amount of alcohol present in a given volume, expressed as a
                        percentage.
                        It is a measure of how strong your beer is.
                        Careful with the pints of anything above 16%!
                    </p>
                    <br>
                </div>
                <div class="col-md-12">
                    <h2>2. IBU (International Bitterness Unit) </h2>
                    <p>IBU .The bitterness comes from the hop used during the brewing process. It is said that at 80 IBU
                        a human can start noticing prominent bitter notes.
                    </p>
                    <br>
                    <p class="center">
                        <img src="../static/images/ibu-guide.png" alt="ibu-guide" />
                    </p>
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="row margin-top-50"></div>
                    <h2>3. Attenuation Level/ Mouthfeel</h2>
                    <p>The level of attenuation varies depending on the yeast used. A higher level of attenuation is due
                        to a high consumption of sugar by the yeast. The brewers then measure the end result through
                        attenuation levels. The more sugar has been converted into alcohol the beer will be drier and
                        denser.
                    </p>
                    <br>
                </div>
                <div class="col-md-12">
                    <h2>4. Color</h2>
                    <p>There are different shades of beer. The color of a beer will be influenced by various factors
                        including: level of malt caramelization, time of fermentation, yeast strain, hops usage, and
                        specialty ingredients.
                        There are two popular scales used: EBC (European Brewery Convention) and SRM (Standard Reference
                        Method). The SRM system is primarily used in North and South America.
                    </p>
                    <br>
                    <p class="center">
                        <img src="../static/images/srm.png" alt="srm-guide" />
                    </p>
                    <br>
                </div>
            </div>
        </div>





        <footer class="footer">
            <span class="bottom">Drink Responsibly <br> Must be 21 Years of Age</span>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="../static/js/results.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>